<% if @synchronizations.any? %>
  <h2>Synchronized Calendars</h2>
  <ul>
    <% @synchronizations.each do |synchronization| %>
      <li>
        <%= synchronization.resource_name %>
        <form action="/synchronizations/<%= synchronization.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE"/>
          <input type="submit" value="Stop syncing"/>
        </form>
      </li>
    <% end %>
  </ul>
<% end %>

<h2>Add Calendar</h2>

<form action="/spaces/<%= @space.subdomain %>/synchronization" method="POST">
  <div>
    <label for="ics_url">Calendar URL</label>
    <input type="text" id="ics_url" name="ics_url"/>
  </div>

  <div>
    <label for="resource_id">Resource</label>
    <select id="resource_id" name="resource_id">
      <% @resources.each do |resource| %>
        <option value="<%= resource.id %>"><%= resource.name %></option>
      <% end %>
    </select>
  </div>

  <input type="submit" value="Sync Calendar"/>
</form>
